.vscode/

!compiler-lexical-analyzer/
!compiler-lexical-analyzer/compiler-lexical-analyzer/
compiler-lexical-analyzer/*
!compiler-lexical-analyzer/compiler-lexical-analyzer/*.cpp
!compiler-lexical-analyzer/compiler-lexical-analyzer/*.h
